


<create-modal (create)="createChamado($event)" #createModal></create-modal>
<edit-modal (edit)="editChamado($event)" #editModal></edit-modal>
<delete-modal (delete)="deleteChamado($event)" #deleteModal></delete-modal>
<concluir-modal (concluir)="concluirChamado($event)" #concluirModal></concluir-modal>


<ng-container *ngIf="chamados">
    <div class="container">
        <h1>Chamados</h1>
        <button class="new_chamado btn btn-dark" (click)="createModal.openCreateModal()">Novo Chamado</button>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th (click)="sortChamados('data')">Data</th>
                    <th>Hora</th>
                    <th>Cliente</th>
                    <th>Descrição</th>
                    <th (click)="sortChamados('contrato')">Contrato</th>
                    <th (click)="sortChamados('urgencia')">Urgência</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chamado of chamados">
                    <td>{{ chamado.data | date:'dd/MM/yyyy' }}</td>
                    <td>{{ chamado.hora }}</td>
                    <td>{{ chamado.cliente }}</td>
                    <td>{{ chamado.descricao }}</td>
                    <td [ngClass]="chamado.contrato === 'Sim' ? 'text-primary' : ''">{{ chamado.contrato }}</td>
                    <td [ngClass]="{
                'text-danger': chamado.urgencia === 'Alta',
                'text-warning': chamado.urgencia === 'Média',
                'text-success': chamado.urgencia === 'Baixa'
              }">
                        {{ chamado.urgencia }}
                    </td>
                    <td [ngClass]="{
                'text-warning': chamado.status === 'Pendente',
                'text-success': chamado.status === 'Concluido'}">
                        {{ chamado.status }}
                    </td>
                    <td>
                        <a (click)="editModal.openEditModal(chamado)">
                            <i id="icon_opcoes" class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a (click)="concluirModal.openConcluirModal(chamado.id)">
                            <i id="icon_opcoes" class="fa-regular fa-square-check"></i>
                        </a>
                        <a (click)="deleteModal.openDeleteModal(chamado.id)">
                            <i id="icon_opcoes" class="fa-solid fa-trash" ></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
