


<create-registro-modal (create)="createRegistroVeiculo($event)" #createModal></create-registro-modal>
<edit-registro-modal (edit)="editRegistroVeiculo($event)" #editModal></edit-registro-modal>
<delete-registro-modal (delete)="deleteRegistroVeiculo($event)" #deleteModal></delete-registro-modal>


<ng-container *ngIf="registroVeiculo">
    <div class="container_registros_veiculos">
        <h1 style="margin-bottom:30px">Registros dos veículos</h1>
        <div style="justify-content:space-between; display:flex;">
            <button class="new_registro_veiculo btn btn-dark" style="" (click)="createModal.openCreateModal()">Novo Registro</button>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Última revisão</th>
                <th>Último abastecimento</th>
                <th>Combustivel</th>
                <th>Preço do abastecimento</th>
                <th>Litros abastecido</th>
                <th>Preço do etanol</th>
                <th>Preço da gasolina</th>
                <th>Média por litro</th>
                <th>Última troca de óleo</th>
                <th>Última calibragem</th>
                <th>Último balanceamento</th>
                <th>Quilometros rodados</th>
                <th>Proxima troca de óleo</th>
                <th>Peças já trocadas</th>
                <th>Data da última troca</th>
                <th>Peças para trocar</th>
                <th>Observação</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registroVeiculo of registroVeiculo">
                  <td>{{ registroVeiculo.dataUltimaRevisao }}</td>
                  <td>{{ registroVeiculo.dataUltimoAbastecimento }}</td>
                  <td>{{ registroVeiculo.combustivel }}</td>
                  <td>{{ registroVeiculo.precoAbastecimento }}</td>
                  <td>{{ registroVeiculo.litrosAbastecido }}</td>
                  <td>{{ registroVeiculo.precoEtanol }}</td>
                  <td>{{ registroVeiculo.precoGasolina }}</td>
                  <td>{{ registroVeiculo.mediaPorLitro }}</td>
                  <td>{{ registroVeiculo.dataUltimaTrocaOleo }}</td>
                  <td>{{ registroVeiculo.dataUltimaCalibragem }}</td>
                  <td>{{ registroVeiculo.dataUltimoBalanceamento }}</td>
                  <td>{{ registroVeiculo.quilometrosRodados }}</td>
                  <td>{{ registroVeiculo.quilometrosProximaTrocaOleo }}</td>
                  <td>{{ registroVeiculo.pecasJaTrocadas }}</td>
                  <td>{{ registroVeiculo.dataTrocaPeca }}</td>
                  <td>{{ registroVeiculo.pecasParaTrocar }}</td>
                  <td>{{ registroVeiculo.observacao }}</td>
                    <td>
                        <a (click)="editModal.openEditModal(registroVeiculo)">
                            <i id="icon_opcoes" class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a (click)="deleteModal.openDeleteModal(registroVeiculo.id)">
                            <i id="icon_opcoes" class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
