


<create-nobreak-modal [nobreaks]="nobreaks" (create)="createNobreak($event)" #createModal></create-nobreak-modal>
<edit-nobreak-modal (edit)="editNobreak($event)" #editModal></edit-nobreak-modal>
<delete-nobreak-modal (delete)="deleteNobreak($event)" #deleteModal></delete-nobreak-modal>

<ng-container *ngIf="nobreaks">
    <div class="container_nobreaks">
        <h1 style="margin-bottom:30px">Nobreaks</h1>
        
        <div style="justify-content:space-between; display:flex;">
            <button class="new_nobreak btn btn-dark" (click)="createModal.openCreateModal()">Novo Nobreak</button>
            <div class="d-flex">
                <input (input)="onSearchInput($event)" style="width:250px;" class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
                <button style="margin-left:5px;margin-bottom:6px;" class="btn btn-outline-success" type="submit">Pesquisar</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Data da troca</th>
                    <th>Data da próxima troca</th>
                    <th>Cliente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Numero de série</th>
                    <th>Voltagem Entrada/Saída</th>
                    <th>Capacidade</th>
                    <th>Modelo da Bateria</th>
                    <th>Quantidade de baterias</th>
                    <th>Função</th>
                    <th>Ordem de serviço</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nobreak of filteredNobreaks"
                    [ngClass]="{'alert-today': (nobreak.dataProximaTroca | date:'yyyy-MM-dd') === today}">
                    <td>{{ nobreak.dataTroca | date:'dd/MM/yyyy' }}</td>
                    <td [ngClass]="{'text-danger': (nobreak.dataProximaTroca | date:'dd/MM/yyyy')}"> {{ nobreak.dataProximaTroca | date:'dd/MM/yyyy' }}</td>
                    <td>{{ nobreak.cliente }}</td>
                    <td>{{ nobreak.marca }}</td>
                    <td>{{ nobreak.modelo }}</td>
                    <td>{{ nobreak.numeroSerie }}</td>
                    <td>{{ nobreak.voltagemEntrada }} / {{ nobreak.voltagemSaida }}</td>
                    <td>{{ nobreak.capacidade }}</td>
                    <td>{{ nobreak.bateria }}</td>
                    <td>{{ nobreak.quantidadeBateria }}</td>
                    <td>{{ nobreak.funcao }}</td>
                    <td>{{ nobreak.ordemServico }}</td>
                    <td>
                        <a (click)="editModal.openEditModal(nobreak)">
                            <i id="icon_opcoes" class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a (click)="deleteModal.openDeleteModal(nobreak.id)">
                            <i id="icon_opcoes" class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
