.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding-top: 60px;
  font-weight:700;
}

.form-control {
  font-weight: 500;
}

  .modal.show {
    display: block;
  }

#voltagem_input_110v {
  margin-left: 56px;
}

#voltagem_input_220v {
  margin-left: 80px;
}

#voltagem_input_bivolt {
  margin-left: 91px;
}

#voltagem_label_110v{
    margin-left:10px;
    font-weight:700;
}

#voltagem_label_220v {
  margin-left: 35px;
  font-weight: 700;
}

#voltagem_label_bivolt {
  margin-left: 38px;
  font-weight: 700;
}

.modal-content {
  background-color: #fff;
  border: 1px solid #888;
  padding: 20px;
  border-radius: 5px;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: none;
}

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .concluir_btn{
      margin-right:4px;
  }

  .delete_btn{
      margin-right:4px;
  }

.form-check-input {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}


  .form-check-input::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }

