@media (min-width: 768px) {
    .html {
        font-size: 16px;
    }
}

.container {
    font-weight: 750;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.layout {
    background-image: url('../img/backgroundCPR.jpg');
    background-position:center;
    /*background: linear-gradient(to top, rgb(231 229 234), rgb(241 240 245), rgb(245 245 247), rgb(240 238 241), rgb(240 239 243), rgb(234 232 237), rgb(233 228 232));*/ /*linear-gradient(to top, rgb(14 52 137 / 40%),rgb(5 12 54 / 10%),rgb(11 32 104 / 5%),rgb(67 76 102 / 0%));*/
    background-repeat: no-repeat;
    background-size:cover;
}


img {
    opacity: 1;
    cursor: pointer;

}


input::placeholder{
    opacity:1;
    font-weight:500;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    position:absolute;
    top:10px;
    left:0px;
}

.header {
    margin-bottom:50px;
}

.dropdown {
    margin-right:128px;
}

.refresh{
    margin-top:400px;
}