@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

.container {
    font-weight: 750;
    padding: 15px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.table {
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    z-index: 0; /* Certifique-se de que o conteúdo da tabela esteja acima da imagem de fundo */
}

    .table::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/globo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.15; /* Define a opacidade da imagem */
        z-index: -1; /* Garante que a imagem de fundo fique atrás do conteúdo da tabela */
    }


img {
    opacity: 1;
    cursor: pointer;

}


input::placeholder{
    opacity:1;
    font-weight:500;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    position: absolute;
    top: 3px;
    left: 3px;
    mix-blend-mode: multiply;
}

.header {
    margin-bottom:50px;
}