


<create-consignado-modal (create)="createConsignado($event)" #createModal></create-consignado-modal>
<edit-consignado-modal (edit)="editConsignado($event)" #editModal></edit-consignado-modal>
<delete-consignado-modal (delete)="deleteConsignado($event)" #deleteModal></delete-consignado-modal>
<concluir-consignado-modal (concluir)="concluirConsignado($event)" #concluirModal></concluir-consignado-modal>


<ng-container *ngIf="equipamentos">
    <div class="container_consignados">
        <h1 style="margin-bottom:30px">Consignados</h1>
        <div style="justify-content:space-between; display:flex;">
            <button class="new_chamado btn btn-dark" style="" (click)="createModal.openCreateModal()">Novo Consignado</button>
            <div class="d-flex" style="position:relative;">
                <input (input)="onSearchInput($event)" style="width:250px;" class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
                <button style="margin-left:5px;margin-bottom:6px;" class="btn btn-outline-success" type="submit">Pesquisar</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Cliente</th>
                    <th>Contrato</th>
                    <th>Numero de Série</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipamento of filteredEquipamentos">
                    <td>{{ equipamento.data | date:'dd/MM/yyyy' }}</td>
                    <td>{{ equipamento.hora }}</td>
                    <td>{{ equipamento.cliente }}</td>
                    <td [ngClass]="equipamento.contrato === 'Sim' ? 'text-primary' : ''">{{ equipamento.contrato }}</td>
                    <td>{{ equipamento.numeroSerie }}</td>
                    <td>{{ equipamento.tipo }}</td>
                    <td>{{ equipamento.marca }}</td>
                    <td>{{ equipamento.modelo }}</td>
                    <td>{{ equipamento.quantidade }}</td>
                    <td>{{ equipamento.preco | currency:'BRL':'symbol':'1.2-2' }}</td>
                    <td>{{ equipamento.descricao }}</td>
                    <td [ngClass]="{
                'text-warning': equipamento.status === 'Emprestado',
                'text-success': equipamento.status === 'Concluido'}">
                        {{ equipamento.status }}
                    </td>
                    <td>
                      <a (click)="editModal.openEditModal(equipamento)">
                        <i id="icon_opcoes" class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a (click)="equipamento.status !== 'Concluido' && concluirModal.openConcluirModal(equipamento.id)">
                        <i id="icon_opcoes" class="fa-regular fa-square-check" [ngClass]="{'disabled': equipamento.status === 'Concluido'}"></i>
                      </a>
                      <a (click)="deleteModal.openDeleteModal(equipamento.id)">
                        <i id="icon_opcoes" class="fa-solid fa-trash"></i>
                      </a>
                      <!--<div class="hidden">
                        <app-print-layout [equipamento]="equipamento" [attr.id]="'print-layout-' + equipamento.id"></app-print-layout>
                      </div>-->
                      <a (click)="printEquipamento(equipamento.id)">
                        <i id="icon_opcoes" class="fa-solid fa-print"></i>
                      </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
