@model CPR.Models.Domain.Chamado

@{
    Layout = null;
}

<div id="modalEditarChamado" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="EditarChamado">
                <div class="modal-header">
                    <h5 class="modal-title">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input asp-for="Id" type="hidden">
                        <input required asp-for="Data" type="date" class="form-control mb-2" id="Data" placeholder="Data">
                        <input required asp-for="Hora" type="time" class="form-control mb-2" id="Horário" placeholder="Horário">
                        <input required asp-for="Cliente" type="text" class="form-control mb-2" id="Cliente" placeholder="Cliente">
                        <div class="ml-4 mb-2 custom-radio">
                            <input required asp-for="Contrato" value="Sim" type="radio" class="form-check-input" name="Contrato" id="option1">
                            <label class="form-check-label" for="option1">Sim</label>
                            <input required asp-for="Contrato" value="Nao" type="radio" class="form-check-input ml-1" name="Contrato" id="option2">
                            <label class="form-check-label ml-4" for="option2">Não</label>
                        </div>
                        <input required asp-for="Descricao" type="text" class="form-control mb-2" id="Descrição" placeholder="Descrição">
                        <div class="ml-4 mb-2 custom-radio">
                            <input required asp-for="Urgencia" value="Alta" type="radio" class="form-check-input" name="Urgencia" id="option1">
                            <label class="form-check-label" for="option1">Alta</label>
                            <input required asp-for="Urgencia" value="Media" type="radio" class="form-check-input ml-1" name="Urgencia" id="option2">
                            <label class="form-check-label ml-4" for="option2">Media</label>
                            <input required asp-for="Urgencia" value="Baixa" type="radio" class="form-check-input ml-1" name="Urgencia" id="option2">
                            <label class="form-check-label ml-4" for="option2">Baixa</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/ChamadoScript.js"></script>