@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="modalEdit" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Editar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="mb-3" >
                    <input type="date" class="form-control mb-2" id="Data" placeholder="Data">
                    <input type="time" class="form-control mb-2" id="Horário" placeholder="Horário">
                    <input type="text" class="form-control mb-2" id="Cliente" placeholder="Cliente">
                    <input type="text" class="form-control mb-2" id="Descrição" placeholder="Descrição">
                    <input type="text" class="form-control mb-2" id="Urgência" placeholder="Urgência">
                    <input type="text" class="form-control mb-2" id="Status" placeholder="Status">
                    <input type="text" class="form-control mb-2" id="Contrato" placeholder="Contrato">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
</div>