@model CPR.Models.Domain.Cliente

@{
    Layout = null;
}

<div id="modalCriarCliente" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="CriarCliente">
                <div class="modal-header">
                    <h5 class="modal-title">Criar um cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input asp-for="Id" type="hidden">
                        <input required asp-for="Fantasia" type="text" class="form-control mb-2" id="Fantasia" placeholder="Fantasia">
                        <input required asp-for="RazaoSocial" type="text" class="form-control mb-2" id="Razão Social" placeholder="Razão Social">
                        <input required asp-for="Contrato" type="text" class="form-control mb-2" id="Contrato" placeholder="Contrato?">
                        <input required asp-for="CNPJ" type="text" name='cpfcnpj' onkeypress='mascaraMutuario(this,cpfCnpj)' onblur='clearTimeout()' maxlength="18" class="form-control mb-2"  placeholder="CPF ou CNPJ">
                        <input required asp-for="Endereco" type="text" class="form-control mb-2" id="Endereco" placeholder="Endereço">
                        <input required asp-for="InscricaoEstadual" type="text" class="form-control mb-2" id="InscricaoEstadual" placeholder="Inscrição Estadual">
                        <input required asp-for="Telefone" type="tel" class="form-control mb-2" id="Telefone" placeholder="Telefone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>