@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="modalEditCliente" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Editar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="mb-3" >
                    <input type="text" class="form-control mb-2" id="Cliente" placeholder="Cliente">
                    <input type="text" class="form-control mb-2" id="Fantasia" placeholder="Fantasia">
                    <input type="text" class="form-control mb-2" id="Razão Social" placeholder="Razão Social">
                    <input type="text" class="form-control mb-2" id="Contrato" placeholder="Contrato?">
                    <input type="text" class="form-control mb-2" id="CNPJ" placeholder="CNPJ">
                    <input type="text" class="form-control mb-2" id="CPF" placeholder="CPF">
                    <input type="text" class="form-control mb-2" id="Endereco" placeholder="Endereço">
                    <input type="text" class="form-control mb-2" id="InscricaoEstadual" placeholder="Inscrição Estadual">
                    <input type="tel" class="form-control mb-2" id="Telefone" placeholder="Telefone">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>