@model IEnumerable<CPR.Models.Domain.Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<div style="padding:40px" id="container" class="justify-content-between">
    <h1 class="text-center mb-3">Clientes</h1>
    <a class="btn btn-outline-dark mb-4">Cadastrar cliente</a>
    <a type="button" asp-controller="Chamado" asp-action="Index" class="btn btn-outline-dark mb-4">Chamados</a>
    <table class="table">
        <tbody>
            <tr>
                <td>1</td>
                <td>Morbeh Supermercado</td>
                <td>Uniao Alianca</td>
                <td>05.110.949/0001-68</td>
                <td>Rua São João, 7285</td>
                <td>5464564564</td>
                <td>(45)3378-3397</td>
                <td>Sim</td>
                <td style="width:55px">
                    <a data-bs-toggle="modal" data-bs-target="#modalEditCliente">
                        <i class="bi-pencil-square"></i>
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#modalDelete">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<partial name="~/Views/Shared/Delete.cshtml" />
<partial name="~/Views/Cliente/Modal/EditCliente.cshtml" />