@model IEnumerable<CPR.Models.Domain.Chamado>
@{
    ViewData["Title"] = "Chamados";
}
<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-3">Chamados</h1>
        <a class="btn btn-outline-dark mb-4">Criar um chamado</a>
        <a type="button" asp-controller="Cliente" asp-action="Index" class="btn btn-outline-dark mb-4">Clientes</a>
        <a type="button" asp-controller="Chamado" asp-action="Historico" class="btn btn-outline-dark mb-4">Histórico</a>
           
                <input type="search" id="Pesquisa" style="margin-inline-start:660px; " placeholder="Buscar"> 
                <a> <i class="bi bi-search"> </i> </a>
            
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Cliente</th>
                <th>Descrição</th>
                <th>Contrato</th>
                <th>Urgência</th>
                <th>Status</th>
                <th style="width:75px">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08/07/2023</td>
                <td>17:53</td>
                <td>Cliente1</td>
                <td>Pinpad não funciona</td>
                <td>Sim</td>
                <td>Urgente</td>
                <td>Pendente</td>
                <td style="width:1px">
                    <a><i class="bi bi-check-square"></i></a>
                    <a data-bs-toggle="modal" data-bs-target="#modalEditChamado">
                        <i class="bi-pencil-square"></i>
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#modalDelete">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<partial name="~/Views/Shared/Delete.cshtml" />
<partial name="~/Views/Chamado/Modal/EditChamado.cshtml" />
