@model IEnumerable<CPR.Models.Domain.Chamado>
@{
    ViewData["Title"] = "Chamados";
}

<div>
    <h1>Chamados</h1>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div style="position: fixed; left: 100px; top: 180px;">
        <button type="button" class="btn btn-outline-dark">Criar um chamado</button>
    </div>
    <div style ="position: fixed; left: 275px; top: 180px;">
        <button type="button" class="btn btn-outline-dark">Clientes</button>
    </div>
    <div class="table">
    <table>
        <tr>
            <td>Cliente1</td>
        </tr>
    </table>
    </div>
</div>