@model IEnumerable<CPR.Models.Domain.Chamado>
@{
    ViewData["Title"] = "Chamados";
}
<link rel="stylesheet" href="style.css">
<div style="padding:40px" id="container" class="justify-content-between">
    <h1 class="text-center mb-3">Chamados</h1>
    <button type="button" class="btn btn-outline-dark mb-4">Criar um chamado</button>
    <button type="button" class="btn btn-outline-dark mb-4">Clientes</button>
    <table class="table">
        <tbody>
            <tr>
                <td>08/07/2023</td>
                <td>Cliente1</td>
                <td>Pinpad não funciona</td>
                <td>Sim</td>
                <td>Urgente</td>
                <td>Pendente</td>
                <td style="width:1px">
                    <a class="text-dark" type="submit"><i class="bi bi-check-square"></i></a>
                </td>
                <td style="width:1px">
                    <a class="text-dark" type="submit"><i class="bi bi-exclamation-square-fill"></i></a>
                </td>
                <td style="width:1px">
                    <a onclick="changeIcon()" value="Toggle Icon" type=" submit" class="text-dark bi-pencil-square"></a>
                </td>
                <td style="width:1px">
                    <a class="text-dark" type="submit"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>